@page "/pessoas/formulario"
<h4>Formulário de Pessoas</h4>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="form-group mb-12">
                    <label>Nome</label>
                    <input type="text" name="nome" class="form-control">
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="form-group mb-12">
                    <label>Data de Nascimento</label>
                    <input type="text" name="dataNascimento" class="form-control">
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="form-group mb-12">
                    <label>Peso</label>
                    <input type="text" name="peso" class="form-control">
                </div>
            </div>
       
            <div class="col-md-12 text-right">
                <button class="btn btn-danger" onclick="window.location.href='/pessoas'">Cancelar</button>
                <button class="btn btn-success" onclick="salvar();">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/pessoa-formulario.js"></script>
}
